<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>{{meta.title}} | FishPain</title>

    <!-- Description -->
    <meta name="description" content="{{meta.description}}">

    <script>if (typeof module === 'object') { window.module = module; module = undefined; }; </script>

    <!-- First-party libraries -->
    <link rel="stylesheet" href="/vendor/fishpain/app.css">

    <!-- Font IBM Plex Sans -->
    <link rel="stylesheet" href="/vendor/font/IBM_PS">

    <!-- JQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- nprogress -->
    <link rel="stylesheet" href="/vendor/nprogress/nprogress.css">
    <script src="/vendor/nprogress/nprogress.js"></script>
    <script src="/vendor/fishpain/nprogressSetup.js"></script>
    <script>NProgress.start()</script>

    <!-- UIKIT -->
    <script defer src="/vendor/uikit/navbar.js"></script>
    <link rel="stylesheet" href="/vendor/uikit/uikit.min.css">
    <script src="/vendor/uikit/uikit.min.js"></script>

    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
    
    <script>if (window.module) module = window.module;</script>

</head>

<body>
    {{{body}}}
</body>
</html>