<section class="uk-container">
    <div class="uk-position-large uk-position-center">
        <img src="/static/undraw/undraw_page_not_found.svg" alt="404 Page Not Found" class="uk-height-max-medium" id="errorImg">
        <span class="uk-flex uk-flex-center uk-h2">Can't Find Page: "{{ meta.location }}"</span>
        <br>
        <a href="/" class="uk-button uk-button-primary uk-flex uk-flex-center">Back To Civilisation!</a>
    </div>
</section>