<section class="uk-container">
    <div class="uk-position-large uk-position-top-center">
        <img src="/static/undraw/undraw_page_not_found_su7k.svg" alt="404 Page Not Found" class="uk-height-max-medium">
        <span class="uk-flex uk-flex-center uk-h2">Can't Find Page "{{ meta.location }}"</span>
        <br>
        <a href="/" class="uk-button uk-button-primary">Back To Civilisation!</a>
    </div>
</section>