<section class="uk-container uk-height-viewport">
    <div class="uk-position-large uk-position-center">
        <p class="uk-flex uk-flex-center uk-h1" id="name">
            Tony Yu Haotong
        </p>
        <p class="uk-flex uk-flex-center uk-h4" id="content">
            Student studying Business Intelligence & Analytics at Nanyang Polytechnic (Singapore)
        </p>
        <div class="uk-flex uk-flex-center" id="socials" uk-grid>
            <a class="" href="https://www.instagram.com/fish.pain" target="blank"><i class="fab fa-instagram fa-3x"></i></a>
            <a class="" href="https://www.linkedin.com/in/tony-yu-haotong-981149173/" target="blank"><i class="fab fa-linkedin fa-3x"></i></a>
            <a class="" href="https://github.com/FishPain/" target="blank"><i class="fab fa-github-square fa-3x"></i></a>
        </div>
        <div class="uk-flex uk-flex-center uk-margin-medium-top" id="scrollDown">
            <a id="scrollDownBtn" data-easing="{{smoothScroll.easing}}" href="#experience" >
                <span uk-icon="icon: chevron-down; ratio: 3"></span>
            </a>
        </div>
    </div>
</section>

<section class="uk-container uk-height-viewport" id="experience" >
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    apple
</section>
