{{!-- Light and dark mode toggle --}}
{{!-- Temp Hidden this feature cos i lazy code this--}}
<div class="uk-hidden">
    <div class="uk-flex uk-flex-right uk-margin-small-top uk-margin-small-right">
        <label class="switch" id="switch">
            <span class="">
                <i class="far fa-2x" id="icon"></i>
            </span>
        </label>
    </div>
</div>


{{!-- go back up --}}
<section class="uk-visible@s">
    <div class="uk-position-fixed uk-position-bottom-right uk-overlay">
        <a id="scrollDownBtn" data-easing="{{smoothScroll.easing}}" href="#topNav">
            <span uk-icon="icon: chevron-up; ratio: 3" class="uk-border-pill uk-background-primary" id="goUpBtn" hidden></span>
        </a>
    </div>
</section>


{{!-- Landing Section --}}
<section id="home" class="uk-container uk-height-viewport uk-flex uk-margin">
    <div class="uk-margin-auto uk-margin-large-top">
        <p class="uk-flex uk-flex-center uk-h1" id="name">
            Tony Yu Haotong
        </p>
        <div class="uk-flex uk-flex-center uk-h4" id="content">
            <p>Student studying Business Intelligence & Analytics at Nanyang Polytechnic (Singapore)</p>
        </div>

        <div class="uk-flex uk-flex-column" id="socials" uk-grid>
            <div class="uk-flex uk-flex-center" uk-grid>
                <a class="" href="mailto:yuhaotong03@gmail.com" target="_blank"><i class="fas fa-envelope fa-3x"></i></a>
                <a class="" href="https://www.linkedin.com/in/yuht" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
                <a class="" href="https://github.com/FishPain/" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
            </div>

            <div class="uk-flex uk-flex-center">
                <a class="uk-button uk-button-default uk-button-large uk-button-primary" target="_blank" href="https://drive.google.com/file/d/1fStjvkrB8ytdT37ifABn-1Haao3xNihH/view?usp=sharing">
                    <span class="uk-text-uppercase">Download My Resume</span>
                </a>
            </div>
        </div>


        <div class="uk-flex uk-flex-center uk-margin-medium-top" id="scrollDown">
            <a id="scrollDownBtn" data-easing="{{smoothScroll.easing}}" href="#about" >
                <span uk-icon="icon: chevron-down; ratio: 3"></span>
            </a>
        </div>
    </div>
</section>


{{!-- About --}}
<section class="uk-container uk-height-viewport uk-flex uk-margin" id="about">
    <div class="uk-margin-auto uk-margin-auto-vertical">
        <span class="uk-flex uk-flex-center uk-h1 uk-margin uk-margin-medium-bottom uk-text-bold">About Me</span>
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                <img class="" data-src="/static/myPhoto/myPhoto.jpeg" alt="" uk-img>
                <div class="uk-margin uk-margin-top uk-h4">
                    <p class="uk-text-left">
                        I am Tony Yu Haotong. Born in Liaoning China  and currently studying in Singapore.
                        <br><br>
                        I would describe myself as a curious person who is not afraid of learning, trying, and failing.
                        <br><br>
                        Often times, I find myself exploring new things and knowledge. From Programming languages, IoT, Cloud Computing, and Machine Learning, to Crocheting, Baking, and Cycling.
                        <br><br>
                        My experience working in <a href="https://www.nyp.edu.sg/student-life/makerspace.html" target="_blank">Makerspace@NYP</a> has also developed and pushed me as a leader. It taught me how to lead a team, as well as, critical thinking, and decision making skills. While working there, I was often tasked to plan, host, coordinate, and manage events and workshops for students from Secondary Schools to Tertiary Institution.
                    </p>
                </div>
        </div>
    </div>
</section>



{{!-- Skills --}}
<section class="uk-container uk-height-viewport uk-flex uk-margin" id="skills">
    <div class="uk-margin-auto uk-margin-auto-vertical">
        <span class="uk-flex uk-flex-center uk-h1 uk-margin uk-margin-medium-bottom uk-text-bold">Skills</span>
        <div class="uk-child-width-1-2@m uk-grid-medium uk-grid-match" uk-grid>
            <dl class="uk-description-list uk-description-list-divider">
                <dt>
                    Data Analytics
                    <i class="fas fa-code uk-text-primary uk-margin-small-left"></i>
                    <i class="fas fa-code uk-text-primary"></i>
                    <i class="fas fa-code uk-text-primary"></i>
                    <i class="fas fa-code uk-text-muted"></i>
                    <i class="fas fa-code uk-text-muted"></i>
                </dt>
                <dd>
                    Familiar with data mining and analytics tools such as: Tableau, pySpark,
                    beautifulSoup etc.
                </dd>
                <dt>
                    Web Development
                    <i class="fas fa-code uk-text-primary uk-margin-small-left"></i>
                    <i class="fas fa-code uk-text-primary"></i>
                    <i class="fas fa-code uk-text-primary"></i>
                    <i class="fas fa-code uk-text-primary"></i>
                    <i class="fas fa-code uk-text-muted"></i>
                </dt>
                <dd>
                    <i class="fab fa-aws uk-text-primary uk-margin-small-right fa-2x"></i>
                    <i class="fab fa-github uk-text-primary uk-margin-small-right fa-2x"></i>
                    <i class="fab fa-node uk-text-primary uk-margin-small-right fa-2x"></i>
                <dd>
                    Familiar with DevOps process and tools such as: AWS, Git, NodeJs etc.
                </dd>
                <dt>
                    Machine Learning
                    <i class="fas fa-code uk-text-primary uk-margin-small-left"></i>
                    <i class="fas fa-code uk-text-primary"></i>
                    <i class="fas fa-code uk-text-primary"></i>
                    <i class="fas fa-code uk-text-muted"></i>
                    <i class="fas fa-code uk-text-muted"></i>
                </dt>
                <dd>
                    Familiar with Machine Learning techniques and tools such as: Tensorflow,
                    NLP etc.
                </dd>
                <dt>Languages I speak</dt>
                <dd>
                    <i class="fab fa-python uk-text-primary uk-margin-small-right fa-2x"></i>
                    <i class="fab fa-js-square uk-text-primary uk-margin-small-right fa-2x"></i>
                    <i class="fas fa-database uk-text-primary uk-margin-small-right fa-2x"></i>
                    <i class="fab fa-html5 uk-text-primary uk-margin-small-right fa-2x"></i>
                    <i class="fab fa-css3-alt uk-text-primary uk-margin-small-right fa-2x"></i>
                </dd>
                <dd>
                    Familiar with languages such as: Python, JavaScript, HTML, CSS, mySQL.
                </dd>
            </dl>
            <dl class="uk-description-list uk-description-list-divider">
                <dt>Leadership</dt>
                <dd>
                    Led and managed my EXCO committee to develop and implement
                    initiatives that will improve the overall operation and effectiveness of the
                    MakerSpace and MakersNode.
                </dd>
                <dt>Organisation</dt>
                <dd>
                    Planned and managed workshops for various secondary
                    schools.
                </dd>
                <dt>Presentation</dt>
                <dd>
                    Taught many workshops for various secondary
                    schools, as well as students and lecturers from Nanyang Polytechnic.
                </dd>
            </dl>
        </div>
    </div>
</section>



{{!-- Experiences--}}
<section class="uk-container uk-height-viewport uk-flex uk-margin uk-margin-xlarge-top" id="experiences" >
    <div class="uk-margin-auto uk-margin-auto-vertical">
        <span class="uk-flex uk-flex-center uk-h1 uk-margin uk-margin-medium-bottom uk-text-bold">Experiences</span>
        <div class="uk-child-width-1-2@m uk-grid-medium uk-grid-match" uk-grid>

            {{!-- Experiences --}}
            <div id="experiences">
                <div class="uk-card uk-card-large uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Experiences</h3>
                            </div>
                            <div class="uk-width-auto">
                                <i class="fas fa-briefcase fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="timeline-left">
                                    <span class="uk-badge"><span uk-icon="bookmark"></span></span>
                                </div>
                                <div class="timeline-content">
                                    <span class="uk-h4">
                                        Senior Student Assistant Coach
                                        <p class="uk-text-meta">
                                            <span class="uk-text-meta">Makerspace@NYP</span>
                                            <br>
                                            <time>Nov 2020 - Present</time>
                                            <br><br>
                                            <a href="" class="uk-text-meta uk-margin-remove uk-text-primary" uk-toggle="target: #experienceModal_1">View Details</a>
                                        </p>
                                    </span>
                                </div>

                                {{!-- Modal --}}
                                <div id="experienceModal_1" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                        <h2 class="uk-modal-title">Senior Student Assistant Coach</h2>
                                            <span class="uk-text-meta">Makerspace@NYP</span>
                                        <div>
                                            <span>As the President, I was tasked to:</span>
                                            <ul>
                                                <li>Lead and manage the EXCO committee</li>
                                                <li>Work with EXCO to develop and implement initiatives that will improve the overall operation and effectiveness of the MakerSpace and MakersNode</li>
                                                <li>Serves as a spokesperson for the SAC</li>
                                                <li>Lead and manage Outreach Programmes</li>
                                                <li>Enforce internal discipline and track performance of SAC</li>
                                                <li>Plan and conduct recruitment of new SAC</li>
                                            </ul>
                                        </div>
                                   </div>
                                </div>

                            </div>
                            <div class="timeline-item">
                                <div class="timeline-left">
                                    <span class="uk-badge"><span uk-icon="bookmark"></span></span>
                                </div>
                                <div class="timeline-content">
                                    <span class="uk-h4">
                                        Math Tutor
                                        <p class="uk-text-meta">
                                            <span class="uk-text-meta">Self Employed</span>
                                            <br>
                                            <time>Sept 2020 - Nov 2020</time>
                                            <br><br>
                                            <a href="" class="uk-text-meta uk-margin-remove uk-text-primary" uk-toggle="target: #experienceModal_2">View Details</a>
                                        </p>
                                    </span>
                                </div>

                                {{!-- Modal --}}
                                <div id="experienceModal_2" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                        <h2 class="uk-modal-title">Math Tutor</h2>
                                        <span class="uk-text-meta">Self Employed</span>
                                        <div>
                                            <span>Taught Primary and Secondary School E-Math</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Educations --}}
            <div id="educations">
                <div class="uk-card uk-card-large uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Educations</h3>
                            </div>
                            <div class="uk-width-auto">
                                <i class="fas fa-graduation-cap fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">

                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="timeline-left">
                                    <span class="uk-badge"><span uk-icon="bookmark"></span></span>
                                </div>
                                <div class="timeline-content">
                                    <span class="uk-h4">
                                        Diploma in Business Intelligence & Analytics
                                        <p class="uk-text-meta">
                                            <span class="uk-text-meta">Nanyang Polytechnic</span>
                                            <br>
                                            <time>April 2020 - Present</time>
                                            <br><br>
                                            <a href="" class="uk-text-meta uk-margin-remove uk-text-primary" uk-toggle="target: #educationModal_1">View Details</a>
                                        </p>
                                    </span>
                                </div>

                                {{!-- Modal --}}
                                <div id="educationModal_1" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                        <h2 class="uk-modal-title">Diploma in Business Intelligence & Analytics</h2>
                                        <span class="uk-text-meta">Nanyang Polytechnic - Cumulative GPA: 3.5</span>
                                        <div>
                                            <span>Through the course of my studies, I learned to extract, analyse, and manage complex data to help make strategic business decisions.</span>
                                            <span>Some of my Modules & Projects includes:</span>
                                            <ul>
                                                <li>Data Structures & Algorithms</li>
                                                <li>Big Data Management</li>
                                                <li>AI Technologies & Machine Learning</li>
                                                <li>App Development Project</li>
                                                <li>Business Analytics Project</li>
                                                <li>Big Data Analytics Project</li>
                                                <span class="uk-text-meta">And more...</span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{!-- Projects --}}
<section id="projects" class="uk-container uk-height-viewport uk-flex uk-margin uk-margin-xlarge-top">
    <div class="uk-margin-auto uk-margin-auto-vertical">
        <span class="uk-flex uk-flex-center uk-h1 uk-margin uk-margin-medium-bottom uk-text-bold">Projects</span>
        <div class="uk-child-width-1-3@m uk-grid-medium uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle " uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/static/myPhoto/myPhoto.jpeg">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">SAC Attendance System </h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">Jan 2021 - June 2021</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>A web interface that captures SAC's attendance, authenticates the information and logs it into Airtable (Database).</p>
                        <p>Technology Used: NodeJs, HBS, Airtable</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="https://github.com/XinYang-YXY/sacAttendance" target="_blank" class="uk-button uk-button-text">Learn more</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/static/myPhoto/myPhoto.jpeg">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Ctrl C&V Macro Pad</h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">Oct 2021 - Dec 2021</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>A Macro Pad made for Programmers. Contains 3 Keys: (Copy, Paste, Open StackOverflow)</p>
                        <p>Technology used: Arduino Micro, C++</p>
                    </div>
                    {{!-- <div class="uk-card-footer">
                        <a href="" class="uk-button uk-button-text">Learn more</a>
                    </div> --}}
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/static/myPhoto/myPhoto.jpeg">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">EmoScript</h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">May 2021 - Present</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>A new programming language that allows you to code in emojis. 😅 </p>
                        <p>I explored programming language design, C and C++ through this project.</p>
                        <p>Technology used: C, C++</p>

                    </div>
                    <div class="uk-card-footer">
                        <a href="https://github.com/FishPain/Emoscript" target="_blank" class="uk-button uk-button-text">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



