<div class="uk-flex uk-flex-right uk-margin-small-top uk-margin-small-right">
    <label class="switch" id="switch">
        <span class="">
            <i class="far fa-sun" id="icon"></i>
        </span>
    </label>
</div>

{{!-- Landing Section --}}
<section class="uk-container uk-height-viewport uk-height-viewport uk-flex uk-margin">
    <div class="uk-margin-auto uk-margin-auto-vertical">
        <p class="uk-flex uk-flex-center uk-h1" id="name">
            Tony Yu Haotong
        </p>
        <p class="uk-flex uk-flex-center uk-h4" id="content">
            Student studying Business Intelligence & Analytics at Nanyang Polytechnic (Singapore)
        </p>
        <div class="uk-flex uk-flex-center" id="socials" uk-grid>
            <a class="" href="https://www.instagram.com/fish.pain" target="blank"><i class="fab fa-instagram fa-3x"></i></a>
            <a class="" href="https://www.linkedin.com/in/tony-yu-haotong-981149173/" target="blank"><i class="fab fa-linkedin fa-3x"></i></a>
            <a class="" href="https://github.com/FishPain/" target="blank"><i class="fab fa-github-square fa-3x"></i></a>
        </div>
        <div class="uk-flex uk-flex-center uk-margin-medium-top" id="scrollDown">
            <a id="scrollDownBtn" data-easing="{{smoothScroll.easing}}" href="#skills" >
                <span uk-icon="icon: chevron-down; ratio: 3"></span>
            </a>
        </div>
    </div>
</section>


{{!-- Skills --}}
<section class="uk-container uk-height-viewport uk-flex uk-margin" id="skills" >
    <div class="uk-margin-auto uk-margin-auto-vertical">
        <span class="uk-flex uk-flex-center uk-h1">Familiar With</span>
        <div class="uk-column-1-2@m uk-column-1-1 uk-margin-large-top">
            <div class="uk-flex uk-flex-center">
                <img class="uk-width-1-1@m uk-width-1-2" src="/static/undraw/undraw_Code_review.svg" alt="skills">
            </div>
            <div class="">
                <table class="uk-table uk-margin-remove">
                    <tbody class="">
                        <tr>
                            <td class="uk-text-left@s uk-text-right">
                                <img class="" src="/static/icons/python.png" alt="Python" height="48" width="48">
                                <span class="uk-margin-medium-left uk-h5 uk-visible@s">Python 3</span>
                            </td>
                            <td class="uk-text-left">
                                <img class="" src="/static/icons/github.png" alt="Git" height="48" width="48">
                                <span class="uk-margin-medium-left uk-h5 uk-visible@s">Git, Github</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="uk-text-left@s uk-text-right">
                                <img class="" src="/static/icons/nodejs.png" alt="Nodejs" height="48" width="48">
                                <span class="uk-margin-medium-left uk-h5 uk-visible@s">NodeJS, ExpressJS</span>
                            </td>
                            <td class="uk-text-left">
                                <img class="" src="/static/icons/gitkraken.png" alt="Gitkraken" height="48" width="48">
                                <span class="uk-margin-medium-left uk-h5 uk-visible@s">GitKraken</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="uk-text-left@s uk-text-right">
                                <img class="" src="/static/icons/aws.png" alt="AWS" height="48" width="48">
                                <span class="uk-margin-medium-left uk-h5 uk-visible@s">AWS, EC2, Route 53</span>
                            </td>
                            <td class="uk-text-left"> 
                                <img class="" src="/static/icons/powerbi.png" alt="Power BI" height="48" width="48">
                                <span class="uk-margin-medium-left uk-h5 uk-visible@s">Power BI</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="uk-text-left@s uk-text-right">
                                <img class="" src="/static/icons/tableau.svg" alt="Tableau" height="48" width="48">
                                <span class="uk-margin-medium-left uk-h5 uk-visible@s">Tableau, Tableau Prep</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

