{{!-- Light and dark mode toggle --}}
{{!-- Temp Hidden this feature cos i lazy code this--}}
<div class="uk-hidden">
    <div class="uk-flex uk-flex-right uk-margin-small-top uk-margin-small-right">
        <label class="switch" id="switch">
            <span class="">
                <i class="far fa-2x" id="icon"></i>
            </span>
        </label>
    </div>
</div>


{{!-- go back up --}}
<section class="uk-visible@s">
    <div class="uk-position-fixed uk-position-bottom-right uk-overlay">
        <a id="scrollDownBtn" data-easing="{{smoothScroll.easing}}" href="#topNav">
            <span uk-icon="icon: chevron-up; ratio: 3" class="uk-border-pill uk-background-primary" id="goUpBtn" hidden></span>
        </a>
    </div>
</section>


{{!-- Landing Section --}}
<section id="home" class="uk-container uk-height-viewport uk-flex uk-margin">
    <div class="uk-margin-auto uk-margin-large-top">
        <p class="uk-flex uk-flex-center uk-h1" id="name">
            Tony Yu Haotong
        </p>
        <div class="uk-flex uk-flex-center uk-h4" id="content">
            <p>Student studying Business Intelligence & Analytics at Nanyang Polytechnic (Singapore)</p>
        </div>

        <div class="uk-flex uk-flex-center" id="socials" uk-grid>
            <a class="" href="mailto:yuhaotong03@gmail.com" target="_blank"><i class="fas fa-envelope fa-3x"></i></a>
            <a class="" href="https://www.linkedin.com/in/yuht" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
            <a class="" href="https://github.com/FishPain/" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
            <a class="" href="https://drive.google.com/file/d/1Oog_axDWAYjTU6CL0Ae4M2Gkq27M8gXk/view?usp=sharing" target="_blank"><i class="fas fa-file-pdf fa-3x"></i></a>
        </div>

        <div class="uk-flex uk-flex-center uk-margin-medium-top" id="scrollDown">
            <a id="scrollDownBtn" data-easing="{{smoothScroll.easing}}" href="#about" >
                <span uk-icon="icon: chevron-down; ratio: 3"></span>
            </a>
        </div>
    </div>
</section>


{{!-- About --}}
<section class="uk-container uk-height-viewport uk-flex uk-margin" id="about">
    <div class="uk-margin-auto uk-margin-auto-vertical">
        <span class="uk-flex uk-flex-center uk-h1 uk-margin uk-margin-medium-bottom uk-text-bold">About Me</span>
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                <img class="" data-src="/static/myPhoto/myPhoto.jpeg" alt="" uk-img>
                <div class="uk-margin uk-margin-top uk-h4">
                    <p class="uk-text-left">
                        I am Tony Yu Haotong. Born in Liaoning China  and currently studying in Singapore.
                        <br><br>
                        I would describe myself as a curious person who is not afraid of learning, trying, and failing.
                        <br><br>
                        Often times, I find myself exploring new things and knowledge. From Programming languages, IoT, Cloud Computing, and Machine Learning, to Crocheting, Baking, and Cycling.
                        <br><br>
                        My experience working in <a href="https://www.nyp.edu.sg/student-life/makerspace.html" target="_blank">Makerspace@NYP</a> has also developed and pushed me as a leader. It taught me how to lead a team, as well as, critical thinking, and decision making skills. While working there, I was often tasked to plan, host, coordinate, and manage events and workshops for students from Secondary Schools to Tertiary Institution.
                    </p>
                </div>
        </div>
    </div>
</section>

    
{{!-- Skills & Experiences--}}
<section id="skillsExperience" class="uk-container uk-height-viewport uk-flex uk-margin uk-margin-xlarge-top">
    <div class="uk-margin-auto uk-margin-auto-vertical">
        <span class="uk-flex uk-flex-center uk-h1 uk-margin uk-margin-medium-bottom uk-text-bold">Skills & Experiences</span>
        <div class="uk-child-width-1-3@m uk-grid-medium uk-grid-match" uk-grid>

            {{!-- Experiences --}}
            <div id="experiences">
                <div class="uk-card uk-card-large uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Experiences</h3>
                            </div>
                            <div class="uk-width-auto">
                                <i class="fas fa-briefcase fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="timeline-left">
                                    <span class="uk-badge"><span uk-icon="bookmark"></span></span>
                                </div>
                                <div class="timeline-content">
                                    <span class="uk-h4">
                                        Senior Student Assistant Coach
                                        <p class="uk-text-meta">
                                            <a href="https://www.nyp.edu.sg/student-life/makerspace.html" target="_blank">Makerspace@NYP</a>
                                            <br>
                                            <time>Nov 2020 - Present</time>
                                            <br><br>
                                            <a href="" class="uk-text-meta uk-margin-remove uk-text-primary" uk-toggle="target: #experienceModal_1">View Details</a>
                                        </p>
                                    </span>
                                </div>

                                {{!-- Modal --}}
                                <div id="experienceModal_1" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                        <h2 class="uk-modal-title">Senior Student Assistant Coach</h2>
                                        <span class="uk-text-meta">Makerspace@NYP</span>
                                        <div>
                                            <span>As the President, I was tasked to:</span>
                                            <ul>
                                                <li>Lead and manage the EXCO committee</li>
                                                <li>Work with EXCO to develop and implement initiatives that will improve the overall operation and effectiveness of the MakerSpace and MakersNode</li>
                                                <li>Serves as a spokesperson for the SAC</li>
                                                <li>Lead and manage Outreach Programmes</li>
                                                <li>Enforce internal discipline and track performance of SAC</li>
                                                <li>Plan and conduct recruitment of new SAC</li>
                                            </ul>
                                        </div>
                                   </div>
                                </div>

                            </div>
                            <div class="timeline-item">
                                <div class="timeline-left">
                                    <span class="uk-badge"><span uk-icon="bookmark"></span></span>
                                </div>
                                <div class="timeline-content">
                                    <span class="uk-h4">
                                        Math Tutor
                                        <p class="uk-text-meta">
                                            <a href="#skillsExperience" class="">Self Employed</a>
                                            <br>
                                            <time>Sept 2020 - Nov 2020</time>
                                            <br><br>
                                            <a href="" class="uk-text-meta uk-margin-remove uk-text-primary" uk-toggle="target: #experienceModal_2">View Details</a>
                                        </p>
                                    </span>
                                </div>

                                {{!-- Modal --}}
                                <div id="experienceModal_2" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                        <h2 class="uk-modal-title">Math Tutor</h2>
                                        <span class="uk-text-meta">Self Employed</span>
                                        <div>
                                            <span>Taught Primary and Secondary School E-Math</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Educations --}}
            <div id="educations">
                <div class="uk-card uk-card-large uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Education</h3>
                            </div>
                            <div class="uk-width-auto">
                                <i class="fas fa-graduation-cap fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">

                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="timeline-left">
                                    <span class="uk-badge"><span uk-icon="bookmark"></span></span>
                                </div>
                                <div class="timeline-content">
                                    <span class="uk-h4">
                                        Senior Student Assistant Coach
                                        <p class="uk-text-meta">
                                            <a href="" class="">Makerspace@NYP</a>
                                            <br>
                                            <time>Nov 2020 - Present</time>
                                            <br><br>
                                            <a href="" class="uk-text-meta uk-margin-remove uk-text-primary" uk-toggle="target: #educationModal_1">View Details</a>
                                        </p>
                                    </span>
                                </div>

                                {{!-- Modal --}}
                                <div id="educationModal_1" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                        <h2 class="uk-modal-title">Default</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>

                            </div>
                            <div class="timeline-item">
                                <div class="timeline-left">
                                    <span class="uk-badge"><span uk-icon="bookmark"></span></span>
                                </div>
                                <div class="timeline-content">
                                    <span class="uk-h4">
                                        Senior Student Assistant Coach
                                        <p class="uk-text-meta">
                                            <a href="" class="">Makerspace@NYP</a>
                                            <br>
                                            <time>Nov 2020 - Present</time>
                                            <br><br>
                                            <a href="" class="uk-text-meta uk-margin-remove uk-text-primary" uk-toggle="target: #educationModal_2">View Details</a>
                                        </p>
                                    </span>
                                </div>

                                {{!-- Modal --}}
                                <div id="educationModal_2" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                        <h2 class="uk-modal-title">Default</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Skills --}}
            <div id="skills">
                <div class="uk-card uk-card-large uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Skills</h3>
                            </div>
                            <div class="uk-width-auto">
                                <i class="fas fa-graduation-cap fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">

                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="timeline-left">
                                    <span class="uk-badge"><span uk-icon="bookmark"></span></span>
                                </div>
                                <div class="timeline-content">
                                    <span class="uk-h4">
                                        Senior Student Assistant Coach
                                        <p class="uk-text-meta">
                                            <a href="" class="">Makerspace@NYP</a>
                                            <br>
                                            <time>Nov 2020 - Present</time>
                                            <br><br>
                                            <a href="" class="uk-text-meta uk-margin-remove uk-text-primary" uk-toggle="target: #educationModal_1">View Details</a>
                                        </p>
                                    </span>
                                </div>

                                {{!-- Modal --}}
                                <div id="educationModal_1" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                        <h2 class="uk-modal-title">Default</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>

                            </div>
                            <div class="timeline-item">
                                <div class="timeline-left">
                                    <span class="uk-badge"><span uk-icon="bookmark"></span></span>
                                </div>
                                <div class="timeline-content">
                                    <span class="uk-h4">
                                        Senior Student Assistant Coach
                                        <p class="uk-text-meta">
                                            <a href="" class="">Makerspace@NYP</a>
                                            <br>
                                            <time>Nov 2020 - Present</time>
                                            <br><br>
                                            <a href="" class="uk-text-meta uk-margin-remove uk-text-primary" uk-toggle="target: #educationModal_2">View Details</a>
                                        </p>
                                    </span>
                                </div>

                                {{!-- Modal --}}
                                <div id="educationModal_2" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                        <h2 class="uk-modal-title">Default</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{!-- Projects --}}
<section id="projects" class="uk-container uk-height-viewport uk-flex uk-margin uk-margin-xlarge-top">
    <div class="uk-margin-auto uk-margin-auto-vertical">
        <span class="uk-flex uk-flex-center uk-h1 uk-margin uk-margin-medium-bottom uk-text-bold">Projects</span>
        <div class="uk-child-width-1-3@m uk-grid-medium uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/static/myPhoto/myPhoto.jpeg">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">SAC Attendance System </h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/static/myPhoto/myPhoto.jpeg">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Ctrl C&V Macro Pad</h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/static/myPhoto/myPhoto.jpeg">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">EmoScript</h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/static/myPhoto/myPhoto.jpeg">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">EmoScript</h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/static/myPhoto/myPhoto.jpeg">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">EmoScript</h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/static/myPhoto/myPhoto.jpeg">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">EmoScript</h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



