<section class="uk-container uk-height-viewport" tabindex="0">
    <div class="uk-position-large uk-position-center">
        <p class="uk-flex uk-flex-center uk-h1 uk-animation-slide-top-medium uk-transform-origin-top-center">
            Tony Yu Haotong
        </p>
        <p class="uk-flex uk-flex-center uk-h4 uk-animation-slide-bottom-medium uk-transform-origin-bottom-center">
            I'm a student studying Business Intelligence & Analytics in Nanyang Polytechnic (Singapore)
        </p>
        <div class="uk-flex uk-flex-center uk-animation-slide-bottom-medium uk-transform-origin-bottom" uk-grid>
            <a class="" href="https://www.instagram.com/fish.pain" target="blank"><i class="fab fa-instagram fa-3x"></i></a>
            <a class="" href="https://www.linkedin.com/in/tony-yu-haotong-981149173/" target="blank"><i class="fab fa-linkedin fa-3x"></i></a>
            <a class="" href="https://github.com/FishPain/" target="blank"><i class="fab fa-github-square fa-3x"></i></a>
        </div>
    </div>
</section>